.button {
  background-color: rgba(55, 55, 55, 0.8);
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 8px 12px;
  margin-left: 10px;
  color: #d3d3d3;
  cursor: pointer;
  transition: .3s;
}

.button span {
  color: #FF8C00;
  margin-left: 5px;
}

.button:hover {
  border: 1px solid #FF8C00;
}
