.reposWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin-top: 30px;
}

.reposItem {
  width: 100%;
  margin-bottom: 15px;
  list-style: none;
}

.reposItem:last-child {
  margin-bottom: 0;
}