.card {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: rgba(55, 55, 55, 0.8);
  color: #d3d3d3;
}

.cardElement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
}

.cardElement h2,
h3 {
  color: #ff8c00;
}

.cardElement h2,
h3 {
  margin: 0;
}

.cardPhotoWrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url('./assets/img/unnamed.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.cardPhotoWrapper img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
}

.cardFollowersWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.cardFollowersUnit {
  margin-right: 20px;
}

.cardFollowersUnit:last-child {
  margin-right: 0;
}

.cardSubElem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 20px;
}

.cardSubElemCreate {
  align-items: flex-start;
}

.cardSubElem:last-child {
  margin-bottom: 0;
}

.cardLogin {
  font-size: 28px;
  font-weight: bold;
  color: #ff8c00;
  text-decoration: none;
  transition: 0.3s;
}

.cardLogin:hover {
  color: tomato;
}

.cardUserInfo {
  border: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  color: #ff8c00;
}

.cardUserInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2px;
}

.cardUserInfoBtn {
  cursor: pointer;
}

a.cardUserInfo:hover {
  color: tomato;
}

.cardUserInfoBtn:hover {
  color: tomato;
}

.closeBtnWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  right: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
}

.star {
  display: inline-block;
  font-size: 24px;
  line-height: 20px;
  color: #d3d3d3;
  transition: 0.3s;
}

.star:hover,
.starActive {
  color: #ff8c00;
}

.downloadBtn {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  padding: 0;
  width: 22px;
  height: 22px;
  transition: 0.3s;
}

.downloadBtn span {
  color: #d3d3d3;
  font-size: 20px;
  transition: 0.3s;
}

.downloadBtn:hover {
  border: 1px solid #ff8c00;
}

.downloadBtn:hover span {
  color: #ff8c00;
}

.addNoteBtn {
  padding: 0;
}

.addNoteBtn span {
  color: #d3d3d3;
  font-size: 28px;
  margin-right: 8px;
  margin-top: 3px;
  transition: 0.3s;
  border: 1px solid transparent;
}

.addNoteBtn:hover span {
  color: #ff8c00;
}

.buttonActive span {
  color: #ff8c00;
}

.tooltip {
  position: relative;
}
.tooltip:hover .tooltipText {
  opacity: 1;
  right: 30px;
}
.tooltip .tooltipText {
  position: absolute;
  top: 30px;
  right: 999px;
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(211, 211, 211, 0.7);
  color: black;
  font-size: 13px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s;
}

@media (max-width: 480px) {
  .card {
    flex-direction: column;
    padding: 10px;
  }

  .cardElement {
    margin-right: 0;
    margin-top: 30px;
    align-items: center;
  }

  .cardLogin {
    text-align: center;
  }
}
