.card {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-top: 30px;
  background-color: rgba(55, 55, 55, 0.8);
  color: #d3d3d3;
}

.card_element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
}

.card_element h2,
h3 {
  color: #ff8c00;
}

.card_element:last-of-type {
  margin-right: 0;
}

.card_element h2,
h3 {
  margin: 0;
}

.card_photo_wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url('./assets/img/unnamed.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.card_photo_wrapper img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
}

.card_followers_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.card_followers_unit {
  margin-right: 20px;
}

.card_followers_unit:last-child {
  margin-right: 0;
}

.card_sub_element {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 20px;
}

.card_sub_element_create {
  align-items: flex-start;
}

.card_sub_element:last-child {
  margin-bottom: 0;
}

.card_user_info {
  border: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  color: #ff8c00;
}

.card_user_info_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2px;
}

.card_user_info_btn {
  cursor: pointer;
}

a.card_user_info:hover {
  color: tomato;
}

.card_user_info_btn:hover {
  color: tomato;
}

.closeBtnWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 2px;
  right: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
}

.star {
  display: inline-block;
  font-size: 24px;
  line-height: 20px;
  color: #d3d3d3;
  transition: 0.3s;
}

.star:hover {
  color: #ff8c00;
}
