.card {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid rgba(211, 211, 211, 0.2);
  border-radius: 5px;
  background-color: rgba(55, 55, 55, 0.8);
  color: #d3d3d3;
}

.cardElement {
  flex-direction: column;
  margin-right: 20px;
}

.cardElement h2,
h3 {
  color: #ff8c00;
}

.cardElement h2,
h3 {
  margin: 0;
}

.cardPhotoWrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url('../../static/img/unnamed.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.cardPhotoWrapper img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
}

.cardFollowersWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.cardFollowersUnit {
  margin-right: 20px;
}

.cardFollowersUnit:last-child {
  margin-right: 0;
}

.cardSubElem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 20px;
}

.cardSubElemCreate {
  align-items: flex-start;
}

.cardSubElem:last-child {
  margin-bottom: 0;
}

.cardLogin {
  font-size: 28px;
  font-weight: bold;
  color: #ff8c00;
  text-decoration: none;
  transition: 0.3s;
}

.cardUserInfo {
  border: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  color: #ff8c00;
}

.cardUserInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2px;
}

.cardUserInfoBtn {
  cursor: pointer;
}

.closeBtnWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-right: 8px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.star {
  display: inline-block;
  font-size: 22px;
  line-height: 18px;
  color: #d3d3d3;
  transition: 0.3s;
}

.starActive {
  color: #ff8c00;
}

.downloadBtn {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  padding: 0;
  width: 22px;
  height: 22px;
  transition: 0.3s;
}

.downloadBtn span {
  color: #d3d3d3;
  font-size: 22px;
  transition: 0.3s;
}

.addNoteBtn {
  padding: 0;
}

.addNoteBtn span {
  color: #d3d3d3;
  font-size: 22px;
  transition: 0.3s;
  transform: rotate(-90deg);
}

.buttonActive span {
  color: #ff8c00;
}

.tooltip {
  position: relative;
}

.arrow {
  margin-top: -5px;
  color: #d3d3d3;
}

.line {
  width: 13px;
  height: 1px;
  position: absolute;
  bottom: 3px;
  left: 4px;
  background-color: #d3d3d3;
  transition: 0.3s;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .tooltip:hover .tooltipText {
    opacity: 1;
    right: 30px;
  }

  .tooltip .tooltipText {
    position: absolute;
    top: 30px;
    right: 3999px;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.7);
    color: black;
    font-size: 13px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .star:hover {
    color: #ff8c00;
  }

  .addNoteBtn:hover span {
    color: #ff8c00;
  }

  .cardLogin:hover {
    color: tomato;
  }

  .downloadBtn:hover {
    border: 1px solid #ff8c00;
  }

  .downloadBtn:hover .line {
    background-color: #ff8c00;
  }

  .downloadBtn:hover span {
    color: #ff8c00;
  }

  a.cardUserInfo:hover {
    color: tomato;
  }

  .cardUserInfoBtn:hover {
    color: tomato;
  }
}

@media (max-width: 480px) {
  .card {
    flex-direction: column;
    padding: 10px;
    border: 0;
  }

  .cardElement {
    display: flex;
    margin-right: 0;
    margin-top: 30px;
    align-items: center;
  }

  .cardLogin {
    text-align: center;
  }

  .tooltip .tooltipText {
    display: none;
  }
}
