.searchWrapper {
  align-items: flex-end;
}

.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.input {
  width: 262px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #d3d3d3;
  outline: none;
  font-size: 24px;
  color: #ff8c00;
}

.rootBtn {
  border: 0;
  padding: 10px 20px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 5px;
  color: #d3d3d3;
  background-color: #ff8c00;
  opacity: 0.8;
  outline: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.rootBtn:hover {
  cursor: pointer;
  opacity: 1;
}

.btnsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .form {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .input {
    width: 228px;
    margin-bottom: 15px;
    text-align: center;
  }
}
