.shlWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px 10px;
  border: 1px solid rgba(211, 211, 211, 0.2);
  border-radius: 5px;
  background-color: rgba(55, 55, 55, 0.8);
  color: #d3d3d3;
}

.shlWrapper h3 {
  color: #d3d3d3;
}

.shlWrapper ol {
  margin: 0;
}

.shlWrapper ol li span {
  color: #d3d3d3;
  font-size: 13px;
}

.shlWrapper li {
  margin-bottom: 10px;
}

.shlButton {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #ff8c00;
  font-size: 16px;
  transition: 0.3s;
}

.shlButton:hover {
  color: tomato;
}

.clearButton {
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  background-color: #ff8c00;
  color: #d3d3d3;
  cursor: pointer;
  transition: 0.3s;
}

.clearButton:hover {
  background-color: tomato;
}

.listHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3px;
  border-radius: 3px;
  margin-bottom: 5px;
  position: sticky;
  top: 5px;
  background-color: rgba(55, 55, 55, 0.95);
}

@media (max-width: 480px) {
  .shlWrapper {
    padding: 5px 10px 15px;
    border: 0;
  }
}
