.user_item_wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: rgba(55, 55, 55, 0.8);
  color: #d3d3d3;
}

.user_item_photo_wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url('./assets/img/unnamed.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  margin-right: 20px;
}

.user_item_photo_wrapper img {
  width: 100%;
}

.user_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user_info_unit {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
}

.user_info_unit button {
  border: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.user_info_unit:hover button h2 {
  transition: 0.3s;
  color: tomato;
}

.user_info_unit h2 {
  margin: 0;
  color: #ff8c00;
}

.user_info_unit:last-child {
  margin-right: 0;
}

@media (max-width: 480px) {
  .user_item_wrapper {
    align-items: center;
  }

  .user_info_unit h2 {
    font-size: 24px;
  }
}
