.userItemWrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: rgba(55, 55, 55, 0.8);
  color: #d3d3d3;
}

.userItemPhotoWrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url('./assets/img/unnamed.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  margin-right: 20px;
}

.userItemPhotoWrapper img {
  width: 100%;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.userInfoUnit {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
}

.userInfoUnit button {
  border: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.userInfoUnit:hover button h2 {
  transition: 0.3s;
  color: tomato;
}

.userInfoUnit h2 {
  margin: 0;
  color: #ff8c00;
}

.userInfoUnit:last-child {
  margin-right: 0;
}

@media (max-width: 480px) {
  .userItemWrapper {
    align-items: center;
  }

  .userInfoUnit h2 {
    font-size: 24px;
  }
}
