.shhWrapper {
  background-color: rgba(55, 55, 55, 0.8);
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px 15px;
  min-height: 38px;
  color: #d3d3d3;
  cursor: pointer;
  transition: 0.3s;
}

.shhWrapper span {
  color: #ff8c00;
}

.shhWrapper:hover,
.shhWrapperActive {
  border: 1px solid #ff8c00;
}
