.shhWrapper {
  background-color: rgba(55, 55, 55, 0.8);
  border: 1px solid rgba(211, 211, 211, 0.2);
  border-radius: 5px;
  padding: 10px 15px;
  min-height: 38px;
  color: #d3d3d3;
  cursor: pointer;
  transition: 0.3s;
}

.shhWrapper span {
  color: #ff8c00;
}

.shhWrapperActive {
  border: 1px solid #ff8c00;
}

@media (min-width: 980px) {
  .shhWrapper:hover {
    border: 1px solid #ff8c00;
  }
}

@media (max-width: 480px) {
  .shhWrapper {
    -webkit-tap-highlight-color: transparent;
  }
}
