.repoItemWrapper {
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(211, 211, 211, 0.2);
  border-radius: 5px;
  background-color: rgba(55, 55, 55, 0.8);
  color: #d3d3d3;
}

.repoItemUnit {
  flex-direction: column;
  margin-right: 10px;
}

.repoItemUnitDates {
  flex-direction: row;
}

.repoSubUnit {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 10px;
  min-width: 90px;
}

.repoSubUnit:last-child {
  margin-right: 0;
}

.repoSubUnit span:first-child {
  margin-bottom: 3px;
}

.repoSubUnit span:last-child {
  color: #ff8c00;
}

.repoItemUnit:last-child {
  margin-right: 0;
}

.repoItemLink {
  color: #ff8c00;
  text-decoration: none;
  transition: 0.3s;
}

.repoLink:hover {
  color: tomato;
}

.repoSubUnitRow {
  flex-direction: row;
  min-width: 100px;
}

.repoSubUnitRow span:first-child {
  margin-right: 5px;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .repoItemWrapper {
    flex-direction: column;
    padding: 10px 10px 7px;
  }

  .repoItemUnitDates {
    flex-wrap: wrap;
  }

  .repoItemUnit {
    margin-right: 0;
    width: 100%;
  }

  .repoItemUnit:first-child {
    margin-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
  }

  .repoItemUnit span {
    margin-bottom: 3px;
  }

  .repoItemUnit > span {
    margin-bottom: 10px;
  }
}
