.repoItemWrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: rgba(55, 55, 55, 0.8);
  color: #d3d3d3;
}

.repoItemUnit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 10px;
}

.repoItemUnitDates {
  flex-direction: row;
}

.repoSubUnit {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 10px;
  min-width: 90px;
}

.repoSubUnit:last-child {
  margin-right: 0;
}

.repoSubUnit span:last-child {
  color: #ff8c00;
}

.repoItemUnit:last-child {
  margin-right: 0;
}

.repoItemLink {
  color: #ff8c00;
  text-decoration: none;
  transition: 0.3s;
}

.repoLink:hover {
  color: tomato;
}
