.startMobileWrap {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  background: center / contain no-repeat url('../../static/img/github-logo.png'),
    radial-gradient(gray -155%, black 70%);
  padding: 20px;
}

.button {
  background: linear-gradient(
    0deg,
    rgba(255, 151, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
  line-height: 42px;
  border: none;
  color: white;
  outline: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 10px 10px;
  font-size: 50px;
  font-style: italic;
  cursor: pointer;
  box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%),
    7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
  -webkit-tap-highlight-color: transparent;
}
